

.header__nav ul {
	display: flex;	
}

.header__nav li {
	padding-right: 40px;
}

.header {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	height: 900px;

}

.header__top__row {
	padding: 40px 10px 40px 952px;
	border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.header__nav {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}






