body {
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 900px;
	max-width: 100%;
	flex: 0 0 auto;
}

.header__top__row {
	padding: 40px 50px 40px 49.6%;
	border-bottom: 1px solid rgba(161, 161, 161, 0.5);
	
}

.header__nav ul {
	display: flex;	
	flex-basis: content;
}

.header__nav li {
	padding-right: 40px;
}

.header__nav {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.header__sub__title {
	width: 175px;
	margin: 0 auto;
	margin-top: 220px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
}

.header__sub__text {
	max-width: 829px;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 auto;
	margin-top: 20px;
}

.header__sub__link {
	height: 45px;
	width: 200px;
	background-color: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 13px;
}

.header__sub__link_text {
	width: 128px;
	margin: 0 auto;
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

a {
	color: #FFFFFF;
}

.container {
	max-width: 1110px;
	margin: 0px auto;
}

.all-services {
	height: 703px;
	margin: 0px auto;
}

.all-services__title {
	margin: 0 auto;
	margin-top: 110px;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: #323232;
}

.all-services__text {
	margin: 0 auto;
	margin-top: 50px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #999999;
	max-width: 730px;
}

.all-services__columns {
	display: flex;
	margin-top: 70px;
}

.all-services__columns__item {
	flex: 0 1 33.333%;
}

.item__row {
	display: flex;
	justify-content: center;
	margin-right: -27px;
}

.item__image {
	flex: 0 0 110px;
}

.item__body {
	width: 226px;
	padding: 46px 27px 0px 17px;
}

.item__body__title {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.item__body__text {
	margin-top: 12px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #999999;
}

.all-services__link {
	margin: 0 auto;
	margin-top: 55px;
	padding: 13px 36px;
	width: 200px;
	height: 45px;
	background: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
}

.all-services__link__text {
	margin: 0 auto;
	width: 128px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.high-standarts {
	height: 797px;
	background-color: #F6F6F8;
}

.high-standarts__row {
	display: flex;
}

.high-standarts__body {
	flex: 0 1 50%;
	margin-top: 152px;
}

.high-standarts__body_title {
	max-width: 400px;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	color: #323232;
}

.high-standarts__body_text {
	margin-top: 40px;
	max-width: 489px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
}

.high-standarts__body_link {
	margin-top: 30px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-decoration: underline;
}

.high-standarts__body_link a {
	color: #4985FF;
}

.high-standarts__image {
	flex: 0 1 50%;
	margin: 103px -3px -3px 124px;
}

.high-standarts__image img {
	background: #F6F6F8;
	box-shadow: 0px 0px 10px rgba(246, 246, 246, 0.25);
	border-radius: 30px;	
}


.line {
	margin: 0 auto;
	margin-top: 90px;
	border: 1px solid #E0E0E0;
}

.high-standarts__sub {
	display: flex;
	margin: 0 auto;
	margin-top: 70px;
}

.high-standarts__sub__item {
	flex: 0 0 20%;
	margin-right: -50px;
	margin-left: 50px;

}

.sub__item__content {
	display: flex;
	flex-wrap: wrap;
	width: 104px;
	height: 67px;
}

.sub__item__content_icon {
	margin: 5px 20px 0px 0px;
}

.sub__item__content_number {
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: #000000;
}

.sub__item__content_text {
	margin: 0 auto;
	margin-top: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	color: #999999;
}

.works {
	height: 490px;
	background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

.works__row {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
}

.works__title {
	width: 510px;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	color: #FFFFFF;
}

.works__link {
	width: 200px;
	height: 45px;
	background: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
}

.works__link_text {
	margin: 0 auto;
	margin-top: 14px;
	text-align: center;
}

.works__images {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.works__images__image {
	flex: 0 0 33.333%;
	width: 350px;
	height: 300px;
	border-radius: 10px;
}

.works__sub {
	height: 482px;
}

.works__sub__row {
	display: flex;
	justify-content: space-between;
	margin-top: 105px;
}

.works__sub__column {
	width: 350px;
	height: 300px;
}

.works__sub__column_title {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #4985FF;
}

.black {
	color: #000000;
}

.works__sub__column_text {
	margin-top: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
}

.works__sub__column_link {
	margin-top: 30px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-decoration: underline;
	color: #4985FF;
}

.works-line {
	margin-top: 85px;
	border: 1px solid #E0E0E0;
}

.projects {
	padding-top: 100px;
	height: 776px;
	background: #F6F6F8;
}

.projects__title {
	margin: 0 auto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: #000000;
}

.projects__text {
	margin: 0 auto;
	margin-top: 50px;
	width: 730px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #999999;
}

.projects__row {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

.projects__row_item {
	width: 255px;
	height: 255px;
	border-radius: 10px;
	margin-top: 70px;
}

.projects__link {
	margin: 0 auto;
	margin-top: 50px;
	width: 200px;
	height: 45px;
	background: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
}

.projects__link_text {
	margin: 0 auto;
	padding-top: 13px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

.video {
	height: 570px;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../img/video.png);
	padding-top: 70px;
	
}

.video__title {
	margin: 0 auto;
	width: 444px;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: #FFFFFF;
}
.video__text {
	width: 400px;
	margin: 0 auto;
	margin-top: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
}

.video__video {
	width: 970px;
	height: 430px;
	margin: 0 auto;
	margin-top: 70px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/video_player.png);
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 10px;
}

.subscription {
	margin: 0 auto;
	margin-top: 185px;
	height: 347px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #000000;
}

.subscription__line {
	border: 1px solid #E0E0E0;
	margin-bottom: 90px;
}

.subscription__title {
	margin: 0 auto;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #000000;
}

.subscription__text {
	margin: 0 auto;
	margin-top: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #999999;
}

form {
	margin: 0 auto;
	margin-top: 30px;
	width: 489px;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
}

form .login {
	margin: 0;
	padding-left: 20px;
	width: 290px;
	height: 45px;
	border-right: none;
	box-sizing: border-box;
	border-radius: 30px 0px 0px 30px;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 21px;
	color: #999999;
}

form .button {
	margin: 0px;
	margin-right: -2px;
	width: 190px;
	height: 45px;
	background: #4985FF;
	border-left: none;
	border-radius: 0px 30px 30px 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

.subscription__sub-text {
	margin: 0 auto;
	margin-top: 35px;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	color: #999999;
}

main {
	flex: 1 1 auto;
}

.footer {
	flex: 0 1 auto;
	height: 413px;
	margin-top: 85px;
	background: #F6F6F8;
	padding: 70px 0px 0px 15px;
}

.footer__columns {
	display: flex;
	width: 1140px;
	margin: 0 auto;
}

.footer__columns__column {
	flex: 0 1 25%;
	height: 198px;
}

.columns__column__title {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: #000000;
}

.columns__column__nav {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #999999;

}

.footer__ul {
	padding-left: 4px;
}

.columns__column__nav li {
	margin-top: 30px;
	margin-left: 10px;
	list-style-image: url(../img/icons/footer/tick.svg);
	padding-left: 12.5px;
}

.footer__ul-li .li_mail {
	margin-left: 0px;
	padding-left: 30px;
	list-style-image: none;
	background: url(../img/icons/footer/mail.svg) no-repeat 0px 1px;
}

.footer__ul-li .li_tel {
	margin-left: 0px;
	padding-left: 30px;
	line-height: 15px;
	list-style-image: none;
	background: url(../img/icons/footer/tel.svg) no-repeat 0px 0px;
}

.footer__ul-li .li_location {
	margin-left: 0px;
	padding-left: 30px;
	line-height: 15px;
	list-style-image: none;
	background: url(../img/icons/footer/location.svg) no-repeat 0px 0px;
}


.columns__column__nav a {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #999999;
}

.footer__line {
	border: 1px solid #E0E0E0;
	margin-top: 70px;
}

.footer__copyright {
	margin: 30px auto;
	width: 386px;
	height: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	color: #999999;
}




















